<a href="https://colab.research.google.com/github/abera07/TnT_Lab/blob/main/Lab10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
""" WAP TO MENTION THE CELEBRATIONS IN A MONTH , STUDENTS PARTICIPATING IN EACH AND FIND THE STUDENT
 WHO PARTICIPATES IN MORE THAN 1 EVENT.
 """
celeb_in_month={1:"Fresher's",2:"Foundation Day",3:"Sports Day",4:"Cultural Fest",5:"Technical Fest"}

s=[]
s_name=[]
i=1
while(i!=0):
  s_name.append(input("Enter the name of the student:"))
  l=list(input("Enter the celebration he/she is participating in separated by ','").split(','))
  l = list(map(int,l))
  s.append(l)
  i=int(input("Enter 0 to stop taking input,1 to continue."))

Enter the name of the student:Ankita
Enter the celebration he/she is participating in separated by ','1,2,3
Enter 0 to stop taking input,1 to continue.1
Enter the name of the student:Trambak
Enter the celebration he/she is participating in separated by ','1,4,5,3
Enter 0 to stop taking input,1 to continue.1
Enter the name of the student:Pubasha
Enter the celebration he/she is participating in separated by ','3
Enter 0 to stop taking input,1 to continue.1
Enter the name of the student:Bindu
Enter the celebration he/she is participating in separated by ','1,2,3
Enter 0 to stop taking input,1 to continue.0

In [18]:
j=len(s)
print("Celebrations in a month:")
print(celeb_in_month)
for j in range(j):
  if len(s[i])>1:
    print(f"{s_name[j]} is participating in more than one event, i.e. in {len(s[i])}.")

Celebrations in a month:
{1: "Fresher's", 2: 'Foundation Day', 3: 'Sports Day', 4: 'Cultural Fest', 5: 'Technical Fest'}
Ankita is participating in more than one event, i.e. in 3.
Trambak is participating in more than one event, i.e. in 3.
Pubasha is participating in more than one event, i.e. in 3.
Bindu is participating in more than one event, i.e. in 3.

In [19]:
#Removing an element from a set
s = {1,2,3,4,5}
print("Set before manipulation:",s)
s.discard(3)
print("Set after manipulation",s)

Set before manipulation: {1, 2, 3, 4, 5}
Set after manipulation {1, 2, 4, 5}

In [20]:
#Intersection of 2 sets
r={1,4,7,8,9,0,2}
inter=s.intersection(r)
print(f"Intersection of sets {s} and {r} is:{inter}")

Intersection of sets {1, 2, 4, 5} and {0, 1, 2, 4, 7, 8, 9} is:{1, 2, 4}

In [21]:
#Difference of 2 sets
diff=s.difference(r)
print(f"Difference of sets {s} and {r} is:{diff}")

Difference of sets {1, 2, 4, 5} and {0, 1, 2, 4, 7, 8, 9} is:{5}

In [23]:
"""Write a Python program to find maximum and the minimum value in a set""""

max_val=max(r)
min_val=min(r)
print(f"Of the set:{r}, the maximum value is:{max_val} and the minimum value is:{min_val}.")

Of the set:{0, 1, 2, 4, 7, 8, 9}, the maximum value is:9 and the minimum value is:0.

In [24]:
""" Write a Python program to check if a set is a subset of another set."""
t={1,2}
if t.issubset(r):
  print(f"Set t:{t} is a subset of set r:{r}")
else:
  print("Set t is not a subset of set r")

Set t:{1, 2} is a subset of set r:{0, 1, 2, 4, 7, 8, 9}

In [25]:
#Length of a set
print("Length of set r is:",len(r))

Length of set r is: 7

In [26]:
"""Write a Python program to check if two given sets have no elements in common"""

q={3}
inter=r.intersection(q)

if len(inter)==0:
  print(f"The two sets:{r} and {q} have no element in common.")
else:
  print("Common elements are present.")

The two sets:{0, 1, 2, 4, 7, 8, 9} and {3} have no element in common.

In [27]:
"""Write a Python program to find the elements in a given set that are not in another set. """
print(f"The two sets are:{r} and {s}")
diff=r.difference(s)
print(f"Elements which are present in r but not in s:{diff}")

The two sets are:{0, 1, 2, 4, 7, 8, 9} and {1, 2, 4, 5}
Elements which are present in r but not in s:{0, 8, 9, 7}

In [28]:
"""Write a Python program to clear a set."""
print(f"Set t is:{t}")
t.clear()
print(f"Set t after manipulation:{t}")

Set t is:{1, 2}
Set t after manipulation:set()