In [1]:
#question4
import pandas as pd
import numpy as np
# data frame 1
d1 = {'Customer_id':pd.Series([1,2,3,4,5,6]),
      'Product':pd.Series(['Oven','Oven','Oven','Television','Television','Television'])}
df1 = pd.DataFrame(d1)
 
# data frame 2
d2 = {'Customer_id':pd.Series([2,4,6,7,8]),
          'State':pd.Series(['California','California','Texas','New York','Indiana'])}
df2 = pd.DataFrame(d2)

#inner join in python pandas
inner_join_df= pd.merge(df1, df2, on='Customer_id', how='inner')
inner_join_df 

# right join in python pandas
right_join_df= pd.merge(df1, df2, on='Customer_id', how='right')
right_join_df

   Customer_id     Product       State
0            2        Oven  California
1            4  Television  California
2            6  Television       Texas
3            7         NaN    New York
4            8         NaN     Indiana

In [10]:
#question2
list1 = {'1': 23, '2': 18, '3': 16, '4': 3}
val=[x for x in list1.values()]

for i in range(0,len(val)):
    for j in range(0,len(val)):
        if val[i]>val[j]:
            temp=val[i]
            val[i]=val[j]
            val[j]=temp

print(val)
v=val[0:3] 

s=0
for i in v:
    s=s+i
    
s=s/3
    
print("the average of highest 3 values in dictionary :",s)

[23, 18, 16, 3]
the average of highest 3 values in dictionary : 19.0

In [5]:
#question1
class parent():
    def par(self):
        print("This is parent class")
        
class child(parent):
    def chi(self):
        print('This is child class')
        
beta=parent()
beta.par()#method of parent class by object of parent class
oo=child()
oo.chi()#method of child class by object of child class
oo.par()#method of parent clas by object of child class

This is parent class
This is child class
This is parent class

In [7]:
#question3
import numpy as np 
   
arr = [2, 4, 4, 4, 5, 5, 7, 9] 
print(np.average(arr))
print(np.var(arr))
print(np.std(arr))
a=[2, 3, 4, 5, 6, 1, 7, 3]
print(np.mod(arr,a))

5.0
4.0
2.0
[0 1 0 4 5 0 0 0]

In [11]:
#question5
dict_nums = dict(x=list(range(101,120)), y=list(range(201,220)), z=list(range(301,320)))
print(dict_nums)
print(dict_nums["x"][7])
print(dict_nums["y"][7])
print(dict_nums["z"][7])
for k,v in dict_nums.items():
   print(dict_nums["x"][-7])

{'x': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119], 'y': [201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219], 'z': [301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319]}
108
208
308
113
113
113