In [1]:
#Write a Python program to get the largest number from a list.

l=[1,2,44,578,1,2233,211]
print(max(l))

2233

In [3]:
for i in range(1,len(l)):
  if(l[i]>l[i-1]):
    m=l[i]

In [4]:
print(m)

2233

In [8]:
#Write a Python program to sum all the items in a list
sum=0
for i in l:
  sum=sum+i

print(sum)

3070

In [23]:
#Write a Python program to get a list sorted in decreasing order 

l.sort(reverse=True)
print(l)

#without sort() method
l=[1,2,44,578,1,2233,211]
new_list = []

while l:
    max = l[0]  
    for x in l: 
        if x > max:
            max = x
    new_list.append(max)
    l.remove(max)    

print(new_list)

[2233, 578, 211, 44, 2, 1, 1]
[2233, 578, 211, 44, 2, 1, 1]

In [15]:
#Write a Python program to clone or copy a list.
l=[1,2,44,578,1,2233,211]
l2=[None]*len(l)

for i in range(len(l)):
  l2[i]=l[i]

In [16]:
print(l2)

[1, 2, 44, 578, 1, 2233, 211]

In [17]:
#Write a Python program to get the frequency of the elements in a list.

k=[1,1,2,3,4,5,6,8,8,5,4,5,6,7,4,2,1,3,4,8,5,2,1,1,1,1,1]

freq = {} 
  
for i in k: 
    if i in freq: 
        freq[i] += 1
    else: 
        freq[i] = 1

In [18]:
print(freq)

{1: 8, 2: 3, 3: 2, 4: 4, 5: 4, 6: 2, 8: 3, 7: 1}

In [20]:
#WAP TO  SEPARATE THE STRING VALUES FROM A LIST WITH DIFFRENT DATATYPES AND ALSO COUNT THEIR FREQUENCY
j=["apple",1,334,5.2,"boat",3.5,"purple"]
x=[ele for ele in j if type(ele)==int]
y=[ele for ele in j if type(ele)==float]
z=[ele for ele in j if type(ele)==str]
print("Integer objects:",len(x))
print("Float objects:",len(y))
print("String objects:",len(z))

Integer objects: 2
Float objects: 2
String objects: 3

In [22]:
#WAP TO JOIN 2 LIST AND FIND THE SMALEST ELEMENT FROM THE THIRD LIST
list1 = [223,754,101]
list2 = [103,114,121]

list3 = list1 + list2
print(list3)

for i in range(1,len(list3)):
  if(list3[i]<list3[i-1]):
    m=list3[i] 
print(m)

[223, 754, 101, 103, 114, 121]
101