In [1]:
import math

y=int(input("Enter a number:"))
x=int(input("Enter the power to which you want to raise the number:"))
r=math.pow(y,x)
print("The result is:",r)

Enter a number:5
Enter the power to which you want to raise the number:2
The result is: 25.0

In [2]:
y**x

25

In [4]:
#WAP TO MATCH WHETHER YOUR GUESED VALUES ARE SAME AS THAT OF SCORED VALUES AND ALSO FIND THE GRADES OF SCORED VALUES
import random
guessed=int(input("Please guess your marks for the Mathematics:"))
real=random.randint(0,100)

if real==guessed:
  print("Great, you guessed correctly!")
else:
  print("Wrong! You scored:",real)

print("Printing your grade...")

if real>=50 and real<60:
  print("Grade C:")
elif real>=60 and real<70:
  print("Grade B")
elif real>=70 and real<80:
  print("Grade A")
elif real>=80 and real<90:
  print("Grade E")
else:
  print("Grade O")

Please guess your marks for the Mathematics:45
Wrong! You scored: 80
Printing your grade...
Grade E

In [12]:
#WAP TO PREPARE A SHOPPING LIST, ATLEAST 10 INPUTS AND TO DISPLAY THE ITEM WHICH HAS MAX PRIORITY

i=0
shop={}
c={}
while(i==0):
  x=input("Enter the item for the shopping list:")
  y=int(input("Enter the priority of the item, as 1/2/3. Please do not enter a priority number twice,it will cause the replacement of items."))
  c={y:x}
  shop.update(c)
  i=int(input("Enter 0 to continue editing list else 1 to stop editing."))

print(shop)

Enter the item for the shopping list:nutella
Enter the priority of the item, as 1/2/3. Please do not enter a priority number twice,it will cause the replacement of items.1
Enter 0 to continue editing list else 1 to stop editing.0
Enter the item for the shopping list:waffles
Enter the priority of the item, as 1/2/3. Please do not enter a priority number twice,it will cause the replacement of items.4
Enter 0 to continue editing list else 1 to stop editing.0
Enter the item for the shopping list:jojoba oil
Enter the priority of the item, as 1/2/3. Please do not enter a priority number twice,it will cause the replacement of items.2
Enter 0 to continue editing list else 1 to stop editing.0
Enter the item for the shopping list:yogurt
Enter the priority of the item, as 1/2/3. Please do not enter a priority number twice,it will cause the replacement of items.3
Enter 0 to continue editing list else 1 to stop editing.0
Enter the item for the shopping list:cheese
Enter the priority of the item, as 1/2/3. Please do not enter a priority number twice,it will cause the replacement of items.5
Enter 0 to continue editing list else 1 to stop editing.1
{1: 'nutella', 4: 'waffles', 2: 'jojoba oil', 3: 'yogurt', 5: 'cheese'}

In [15]:
print("The item of maximum priority:")
print(shop[1])

The item of maximum priority:
nutella

In [33]:
#WAP TO  CALCULATE THE COST OF FILLING A CYLINDER (USER WILL GIVE THE DIMENSION)  
#@ 235/Cu.m and also the time to fill if it takes 14minutes to fill 1 cu. m

radius=float(input("Please enter the radius of the cylinder in terms of the unit metre, only."))
ht=float(input("Please enter the height of the cylinder in terms of the unit metre, only."))
vol=float(3.14*radius*radius*ht)
print("The volume of cylinder in cubic metre is:",vol)
cpm=float(input("Enter the cost per cubic metre:"))
cost=vol*cpm
print("The cost of filling your cylinder is: Rs.",cost)
print("The time taken to fill your cylinder:",str(vol*14),"mins")

Please enter the radius of the cylinder in terms of the unit metre, only.2
Please enter the height of the cylinder in terms of the unit metre, only.4
The volume of cylinder in cubic metre is: 50.24
Enter the cost per cubic metre:235
The cost of filling your cylinder is: Rs. 11806.4
The time taken to fill your cylinder: 703.36 mins

In [22]:
#WAP to store a student list with all the details of a student and give warning to students with attendance less than 60
import pandas as pd
people=[]
i=0d
while i==0:
  print("Enter student details in the form of:Name/Roll/Branch/Attendance")
  name=input("Enter the name:")
  roll=int(input("Enter the roll number:"))
  branch=input("Enter branch:")
  att=float(input("Enter the percentage of attendance:"))

  people.append([name,roll,branch,att])
  i=int(input("Enter 1 to stop and 0 to continue taking inputs:"))

print(people)
df = pd.DataFrame(people,columns=['Name','Roll','Branch','Attendance'])

Enter student details in the form of:Name/Roll/Branch/Attendance
Enter the name:ankita
Enter the roll number:29
Enter branch:csse
Enter the percentage of attendance:70
Enter 1 to stop and 0 to continue taking inputs:0
Enter student details in the form of:Name/Roll/Branch/Attendance
Enter the name:deep
Enter the roll number:20
Enter branch:cse
Enter the percentage of attendance:45
Enter 1 to stop and 0 to continue taking inputs:0
Enter student details in the form of:Name/Roll/Branch/Attendance
Enter the name:julia
Enter the roll number:56
Enter branch:etc
Enter the percentage of attendance:67
Enter 1 to stop and 0 to continue taking inputs:0
Enter student details in the form of:Name/Roll/Branch/Attendance
Enter the name:avneesh
Enter the roll number:32
Enter branch:cse
Enter the percentage of attendance:43
Enter 1 to stop and 0 to continue taking inputs:1
[['ankita', 29, 'csse', 70.0], ['deep', 20, 'cse', 45.0], ['julia', 56, 'etc', 67.0], ['avneesh', 32, 'cse', 43.0]]

In [23]:
df.head()

      Name  Roll Branch  Attendance
0   ankita    29   csse        70.0
1     deep    20    cse        45.0
2    julia    56    etc        67.0
3  avneesh    32    cse        43.0

In [31]:
print(df.Name[df['Attendance'] <=60])
print("\n\nWarning, you have low attendance!")

1       deep
3    avneesh
Name: Name, dtype: object


Warning, you have low attendance!