##  Functions and Recursions

A function is a block of code which only runs when it is called.

In [1]:
def my_func():
  print("Hello from a function")

my_func()

Hello from a function

In [2]:
#Function that display your country name

def nat():
  c=input("Enter the country which you reside in:")
  print(c)

nat()

Enter the country which you reside in:India
India

In [4]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("LALl", "TOM", "SIMA")

The youngest child is SIMA

In [5]:
#pass a list to a function

def sub(l):
  print("The subject which you like the most is:", l[0])
  print("The subject which you like the least is:",l[len(l)-1])

In [6]:
l=["Math","Physics","Bio","Chemistry","Bengali"]
sub(l)

The subject which you like the most is: Math
The subject which you like the least is: Bengali

In [10]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result, " ",end='')
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1  3  6  10  15  21

21

In [28]:
#Function for name and age

def fun(name,age):
  print(f"You name is :{name} and your age is:{age}")

fun("Ankita","21")

You name is :Ankita and your age is:21

In [14]:
def employee(name,sal):
  if(sal=='Missing'):
    sal=50000
  print("Employee name:",name,"and salary:",sal)

employee("Waldo","Missing")

Employee name: Waldo and salary: 50000

In [29]:
#Multiplication table of 7 using recursion

def mul(x):
  #base case
  if x==0:
    return
  r=1
  r=r*7*x
  print(x,"* 7 =",r)

  return mul(x-1)

mul(10)

10 * 7 = 70
9 * 7 = 63
8 * 7 = 56
7 * 7 = 49
6 * 7 = 42
5 * 7 = 35
4 * 7 = 28
3 * 7 = 21
2 * 7 = 14
1 * 7 = 7

In [25]:
def s(x,r=0):
  if x==0:
    print("Your result is:",r)
    return
    
  r=r+x
  return s(x-1,r)
  

s(10)

Your result is: 55

In [27]:
def even(x):
  if x==100:
    print(x," ",end='')
    return
  print(x," ",end='')
  return even(x+2)

even(2)

2  4  6  8  10  12  14  16  18  20  22  24  26  28  30  32  34  36  38  40  42  44  46  48  50  52  54  56  58  60  62  64  66  68  70  72  74  76  78  80  82  84  86  88  90  92  94  96  98  100

## Pattern Programs

In [33]:
for i in range(5):
  for j in range(5):
    print("*",end='')
  print("\n")

*****

*****

*****

*****

*****

In [37]:
for i in range(65,70):
  for j in range(5):
    print(chr(i),end='')
  print("\n")

AAAAA

BBBBB

CCCCC

DDDDD

EEEEE

In [39]:
for i in range(1,6):
  for j in range(1,i+1):
    print(i,end='')
  print("\n")

1

22

333

4444

55555

In [43]:
s=input("Enter any name:")
s=s.upper()
n=len(s)
for i in range(n+1):
  for j in range(i):
    print(s[j],end='')
  print("\n")

Enter any name:prabhu


P

PR

PRA

PRAB

PRABH

PRABHU

In [46]:
for i in range(5):
  k=70
  for j in range(i,5):
    k=k-1
    print(chr(k),end='')
  print("\n")

EDCBA

EDCB

EDC

ED

E