### Ankita Bera, 1828229

## Tuples in Python

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

In [1]:
#Sum of 2 tuples stored in the 3rd tuple
tup1=(1,2,3,4,5,6)
tup2=(6,4,6,7,9,3)
sum=tup1+tup2
print(sum)

(1, 2, 3, 4, 5, 6, 6, 4, 6, 7, 9, 3)

In [2]:
#to get the length of a tuple.
len(tup2)

6

Operations on a tuple:

1. Length
2. Concatenation
3. Repetition
4. Iteration

In [3]:
#Repetition
tup2*4

(6, 4, 6, 7, 9, 3, 6, 4, 6, 7, 9, 3, 6, 4, 6, 7, 9, 3, 6, 4, 6, 7, 9, 3)

In [4]:
print(7 in tup2)

True

In [5]:
#WAP TO PICK THE 3RD, 4TH AND 5TH OBJECT AND CREATE ANOTHER TUPLE WITH THE SAME
x=tup2[2]
y=tup2[3]
z=tup2[4]
tup3=(x,y,z)
print(tup3)

(6, 7, 9)

In [6]:
import random
l=random.sample(range(0, 100), 10)
tup=tuple(l)
print(tup)
ele=int(input("Enter an element:"))
count=0
for e in tup:
  if e==ele:
    count=count+1

print(f"Occurence of element {ele} is:",count)

(2, 15, 58, 41, 3, 53, 56, 94, 77, 90)
Enter an element:53
Occurence of element 53 is: 1

In [7]:
#Write a Python program calculate the product, multiplying all the numbers  with 35
tup4=()
for ele in tup:
  prod=ele*35
  tup4=tup4+(prod,)

print(tup4)

(70, 525, 2030, 1435, 105, 1855, 1960, 3290, 2695, 3150)

In [8]:
""" Write a Python program to replace last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]
"""
l=[(10, 20, 40), (40, 50, 60), (70, 80, 90)]
newl=[]
x=int(input("Enter a number for replacement:"))
for i in l:
  temp=list(i)
  temp[-1]=x
  newl.append(tuple(temp))

print(newl)

Enter a number for replacement:100
[(10, 20, 100), (40, 50, 100), (70, 80, 100)]