In [ ]:
"""" Function to find whether a number is even or odd """"

def num(x):
  if x%2==0:
    print("The number is even")
  else:
    print("The number is odd")
num(11203)

The number is odd

In [ ]:
""" Define a List with couple of items and do the below
a)Change the last item in your list
b)Remove the 3rd item from your list
c)sort your list on descending
d)Change the second value in your list by replacing it with 2 new values.
e)Add a new item in the 3rd index without replacing any of the values. """

import random

l=random.sample(range(0,100),10)
print(l)

[55, 26, 29, 68, 39, 25, 0, 99, 16, 97]

In [ ]:
l[9]=int(input("Enter a number of your choice to change the last item of the list:"))
print("Updated list:\n",l)

Enter a number of your choice to change the last item of the list:78
Updated list:
 [55, 26, 29, 68, 39, 25, 0, 99, 16, 78]

In [ ]:
del(l[2])
print("Updated list after deletion",l)

Updated list after deletion [55, 26, 68, 39, 25, 0, 99, 16, 78]

In [ ]:
l.sort(reverse=True)

In [ ]:
print("Updated list in descending order:",l)

Updated list in descending order: [99, 78, 68, 55, 39, 26, 25, 16, 0]

In [ ]:
n=input("Enter two numbers:").split()
n=[int(i) for i in n]

Enter two numbers:2 3

In [ ]:
l[1]=n
print("Updated list:",l)

Updated list: [99, [2, 3], 68, 55, 39, 26, 25, 16, 0]

In [ ]:
l.insert(2,325)
print("Updated list:",l)

Updated list: [99, [2, 3], 325, 68, 55, 39, 26, 25, 16, 0]

In [ ]:
"""Define a dictionary and do the below
a) Print the key and values of items defined in your dictionary
b)Add a new item to the original dictionary
c)Check if a key exist in the dictionary
d)Change value of a particular item
e)Copy your dict to anotherr dict
"""

x={1:'Pathera tigris',2:'Panthera leo',3:'Panthera panthera',4:'Panthera pardus'}
print("The keys and values of the dictionary:",x)

x.update({5:'Canis lupus'})
print("Dictionary after addition of new item:",x)

y=int(input("The key that you want to check for:"))

if y in x==True:
  print("The key is present in the dictionary.")
else:
  print("The key does not exist in the dictionary.")

z=int(input("Enter the key you want to change:"))
a=input("Enter the value for the key:")

x.update({z:a})
print("Update dictionary:",x)

print("Copying your dictionary to another...")
b=x.copy()
print(f"The new dictionary:{b}")

The keys and values of the dictionary: {1: 'Pathera tigris', 2: 'Panthera leo', 3: 'Panthera panthera', 4: 'Panthera pardus'}
Dictionary after addition of new item: {1: 'Pathera tigris', 2: 'Panthera leo', 3: 'Panthera panthera', 4: 'Panthera pardus', 5: 'Canis lupus'}
The key that you want to check for:7
The key does not exist in the dictionary.
Enter the key you want to change:4
Enter the value for the key:Corvus splendens
Update dictionary: {1: 'Pathera tigris', 2: 'Panthera leo', 3: 'Panthera panthera', 4: 'Corvus splendens', 5: 'Canis lupus'}
Copying your dictionary to another...
The new dictionary:{1: 'Pathera tigris', 2: 'Panthera leo', 3: 'Panthera panthera', 4: 'Corvus splendens', 5: 'Canis lupus'}

In [ ]:
""""Define 2 Set with some common items and do the following
a)join both the set 
b)use update method to insert items from 2nd set to 1st set
c)Find out the duplicates from the sets.
d)Eliminate the duplicates from the sets.
e)check if the 2 sets have a intersection or not
"""

set1 = {100,99,98}
set2 = {1, 2, 3}
set3= set1.union(set2)
print(f"The new set is: {set3}")

#update method
set1.update(set2)
print(f"Updated the first set with the values of the second:{set1}")

x={1,2,3,4,5,7,8}

for i in x:
  for j in set3:
    if i==j:
      print(f"Duplicate found:{i}")

#removing duplicates
a=x.copy()
for i in a:
  for j in set3:
    if i==j:
      x.discard(i)

print("Updated set:",x)

y = {"c", "d", "e"}
z = {"f", "g", "c","e"}

print(f"Printing intersections of sets: {y} and {z}")

result = y.intersection(z)

print("The intersection is:",result)

The new set is: {1, 98, 99, 100, 2, 3}
Updated the first set with the values of the second:{1, 98, 99, 100, 2, 3}
Duplicate found:1
Duplicate found:2
Duplicate found:3
Updated set: {4, 5, 7, 8}
Printing intersections of sets: {'d', 'e', 'c'} and {'g', 'c', 'e', 'f'}
The intersection is: {'e', 'c'}

In [ ]:
"""Take a string and perform below action for the string
a)Check a particular word's existence in your string.
b)Count the number of letters in your string
c)Replace a particular word with another word
d)Convert all to uppercase
e)print all letters except last 1

"""

s=str(input("Enter a string:"))
word=str(input("Enter the word you want to search for:"))

if word in s:
  printb("The sentence does contain the word")
  
  
else:
  print("The sentence does not contain the word")

Enter a string:I like blue, do you?
Enter the word you want to search for:blue
The sentence does contain the word

In [ ]:
#Counting letters
s=str(input("Enter a string:"))
count=0
for i in s:
  if i.isalpha()==True:
    count=count+1

print("The number of letters in the string:",count)

Enter a string:Ankita 101 Bera
The number of letters in the string: 10

In [ ]:
s=str(input("Enter a string:"))
#Replacing a word

rep=str(input("Enter the word which you wanna replace:"))
word=str(input("Enter a word to replace the word:"))

s=s.replace(rep,word)

print("The new string will be:",s)

Enter a string:I like blue
Enter the word which you wanna replace:blue
Enter a word to replace the word:purple
The new string will be: I like purple

In [ ]:
s=s.upper()
print("Converted string to uppercase:",s)

for i in range(0,(len(s)-1)):
  if s[i].isalpha()==True:
    print(s[i],end='') #printed all letters except the last one

Converted string to uppercase: I LIKE PURPLE
ILIKEPURPL

In [ ]:
#inheritance in python
import datetime
class Parent:
  def __init__(self,fname,lname,dob):
    self.fname=fname
    self.lname=lname
    self.dob=dob
  def show(self):
    print(f"Your first name is {self.fname}, your last name is {self.lname}\nDate of birth:{self.dob}")

In [18]:
class Child(Parent):

  def __init__(self,fname,dob):
    self.fname=fname
    self.dob=dob
      
      
  def show(self):
    print("Your name is:",self.fname,"\nPriniting details of your parents...")

In [20]:
n1,n2=input("Enter your name:").split()
n3=input("Child's name:")
y1,m1,d1=input("Enter your date of birth:Y/M/D:").split('/')
y1=int(y1)
m1=int(m1)
d1=int(d1)
dob1=datetime.datetime(y1,m1,d1)
y2,m2,d2=input("Enter your date of birth of child:Y/M/D:").split('/')
y2=int(y2)
m2=int(m2)
d2=int(d2)
dob2=datetime.datetime(y2,m2,d2)
x=Parent(n1,n2,dob1)
x.show()
y=Child(n3,dob2)
y.show()

Enter your name:Minato Namikaze
Child's name:Naruto
Enter your date of birth:Y/M/D:1970/04/12
Enter your date of birth of child:Y/M/D:1999/10/10
Your first name is Minato, your last name is Namikaze
Date of birth:1970-04-12 00:00:00
Your name is: Naruto
Priniting details of your parents...

In [3]:
"""5. Define a Tuple with couple of items and do the below 
a)Add a new item to the Tuple
b)Remove the 2nd item from the tuple
c)Unpack the tuple to different variables.
d)From your list items, upack last 3 items to a single variable.
"""
tup=(1,2,3,8,9,10,23,52,85,22)
print("Operating with tuple:",tup)
#adding new element
tup=tup+(9,)
print("New tuple is:",tup)

#specified index
tup = tup[:5] + (15, 20, 25) + tup[5:]
print("New tuple is:",tup)

l=list(tup)
l.remove(52)
tup=tuple(l)
print("New tuple is:",tup)

t=(1,2,3,4)
print("Operating with tuple:",t)
n1, n2, n3, n4=t
print(f"Unpacked first 4 items of tuple into variables n1={n1},n2={n2},n3={n3},n4={n4}")

l=list(tup)
print("Converted 1st tuple into list:",l)

x,y,z=l[-3:]

print(f"Unpacked last 3 items of tuple into variables x={x},y={y},z={z}")

Operating with tuple: (1, 2, 3, 8, 9, 10, 23, 52, 85, 22)
New tuple is: (1, 2, 3, 8, 9, 10, 23, 52, 85, 22, 9)
New tuple is: (1, 2, 3, 8, 9, 15, 20, 25, 10, 23, 52, 85, 22, 9)
New tuple is: (1, 2, 3, 8, 9, 15, 20, 25, 10, 23, 85, 22, 9)
Operating with tuple: (1, 2, 3, 4)
Unpacked first 4 items of tuple into variables n1=1,n2=2,n3=3,n4=4
Converted 1st tuple into list: [1, 2, 3, 8, 9, 15, 20, 25, 10, 23, 85, 22, 9]
Unpacked last 3 items of tuple into variables x=85,y=22,z=9